# Reportería externa
REPORTERIA_URL=https://reporteria-comparativa.vercel.app/api/infobip-ext/conversation-lead-relation
REPORTERIA_TOKEN=b230f2d0990553b7606ca2c2fad16b12847cffabaeabe6bc977d239aa1c42d36

# API Settings
PROJECT_NAME=InfobipExt API
VERSION=1.0.0
DESCRIPTION=API para gestión de RDV, People y Conversations
API_V1_STR=/api/v1

# CORS Settings
ALLOWED_ORIGINS=http://localhost,http://localhost:3000,http://localhost:8000

# Database
DATABASE_URL=sqlite:///./infobip.db

# Security - Token de autenticación
API_TOKEN=test-token

# Environment
ENVIRONMENT=development
DEBUG=True

INFOBIP_API_KEY=89aa9093b17c466293147cb436385c43-4867b960-4a08-4d6a-98ec-f144f1e9c58f
INFOBIP_API_HOST=m3lyx9.api-us.infobip.com

